body {
    background: #222d;
}
#wrapper {
    text-align: center;
    
}
#title {
    margin-top:50px;
    color:#ddd
}
input, select {
    border-radius:5px;
    border:1px solid #000;
}
#rating-list > div {
    border:3px solid white;
}

